@font-face {
  font-display: swap;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/rubik-v9-latin-300.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/rubik-v9-latin-300.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
	font-display: swap;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/rubik-v9-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/rubik-v9-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
	font-display: swap;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/rubik-v9-latin-500.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/rubik-v9-latin-500.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
@font-face {
	font-display: swap;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/rubik-v9-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/rubik-v9-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
*,
*::before,
*::after {
	box-sizing: inherit;
}
body {
	box-sizing: border-box;
	font-family: "Rubik", "Arial", sans-serif;
}
ol, ul {
	margin: 0;
	padding: 0;
}
.container {
	max-width: 1200px;
	padding: 0 20px;
	margin: 0 auto;
}
.top {
	background-color: #273c75;
}
.header {
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
	height: 50vh;
	color: #ffffff;
}
.header-heading-contents {
	align-self: flex-end;
}
.header__heading {
	margin: 0;
	padding: 0;
	width: calc(740/1240*100%);
	font-size: 40px;
	line-height: 45px;
	letter-spacing: 1px;
}
.social-list {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-self: flex-start;
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.social-list__item {
	margin-left: 15px;
}
.social-list__item:hover {
	transform: scale(1.03);
}
.social-list__link--icon {
	color: #ffffff;
}
.contents-link {
	display: flex;
	flex-wrap: wrap;
	padding: 0;
	margin: 0;
	margin-top: 20px;
	list-style-type: none;
}
.contents-link__item {
	margin-right: 15px;
}
.contents-link__link {
	text-decoration: none;
	color: #ffffff;
}
.contents-link__link:hover {
	text-decoration: underline;
}
.usefull-contents {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 40px 0;
}
.usefull-contents__list {
	list-style-type: none;
}
.usefull-contents__list-item {
	margin-bottom: 10px;
	padding: 0 10px;
}
.usefull-contents__list-link {
	text-decoration: none;
	color: #487eb0;
}
.item-heading {
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 18px;
	line-height: 20px;
	font-weight: 500;
	color: #273c75;
}
.usefull-contents__section:not(:last-child) {
	display: flex;
	flex-direction: column;
	padding-bottom: 30px;
	margin-bottom: 20px;
	border-bottom: 3px solid #273c75;
}
.usefull-contents__top-heading {
	color: #273c75;
}
.usefull-contents__bottom {
	display: flex;
	/*flex-direction: row;*/
	justify-content: space-between;
}



